.container {
   display: flex;
}

.player {
   border: 1px solid #121212;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 0 10px;
}

.trades {
   border: 1px solid #121212;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 10px 10px;
}

.trades-title {
   font-size: larger;
   font-weight: bold;
   border-bottom: 1px solid black;
}

.trade-group {
   margin: 10px;
}

.trade-group-header {
   font-weight: bold;
}

.trade {
   margin-left: 20px;
}

.player-name {
   font-weight: bold;
   color: #d03070;
}

.target-player-name {
   font-weight: bold;
   color: #d07030;
}

.item-name, .ps-name {
   font-weight: bold;
   color: #7030d0;
}

.item-slot-name {
   font-weight: bold;
}

.new-trade {
   border: 1px solid #121212;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 0 10px;
}

.share-trades {
   border: 1px solid #121212;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 10px 10px;
}

.share-text {
   width: 100%;
   height: 50px;
}

.special-item {
   color: red;
}

.warning {
   color: red;
   font-weight: bold;
   text-decoration: underline;
}