.container {
   display: flex;
}

.player {
   border: 1px solid #121212;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 0 10px;
}

.trades {
   padding: 10px 10px;
   margin: 10px 10px;
}

.trades-header {
   border-bottom: 1px solid #666;
   display: flex;
}

.trades-title {
   font-size: larger;
   font-weight: bold;
}

.trades-filter {
   margin-left: 20px;
   display: flex;
}

.trades-filter-label {
   margin-right: 15px;
}

.trade-group {
   margin: 10px;
}

.trade-group-header {
   font-weight: bold;
}

.trade {
   margin-left: 20px;
}

.player-name {
   font-weight: bold;
   color: #d03070;
}

.target-player-name {
   font-weight: bold;
   color: #d07030;
}

.item-name, .ps-name {
   font-weight: bold;
   color: #9050f0;
}

.item-slot-name, .item-type {
   font-weight: bold;
}

.new-trade {
   border: 1px solid #666;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 0 10px;
}

.share-trades {
   border: 1px solid #666;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 10px;
   margin: 10px 10px;
}

.share-text {
   width: 100%;
   height: 50px;
}

.special-item {
   color: #f55;
}

.warning {
   color: #f55;
   font-weight: bold;
   text-decoration: underline;
}

.reqlv {
   color: #557799;
}

.materials-pane {
   padding: 10px 20px;
   margin: 20px 0;
}

.materials-table {
   border-collapse: collapse;
}

.materials-table tr {
   border-bottom: 1px solid #303030;
}

.materials-table tr.material-row {
   cursor: pointer;
}

.materials-table td, .materials-table th {
   padding: 5px 10px 5px 10px;
   text-align: center;
}

.equipment-group {
   margin-bottom: 30px;
}

.equipments-table {
   border-collapse: collapse;
   margin-left: 40px;
}

.equipments-table tr {
   border-bottom: 1px solid #303030;
}

.equipments-table td, .equipments-table th {
   padding: 5px 10px 5px 10px;
   text-align: center;
}

.item-type-header {
   border-bottom: 1px solid #828282;
   font-size: large;
}

.allow-trade {
   background-color: #403030;
   border: 2px solid #c03070;
   border-radius: 10px 10px 10px 10px;
   padding: 10px 20px;
}

.allow-trade-header {
   font-weight: bold;
}

.allow-trade .eno {
   margin-right: 10px;
}

body{
   background-color: #333;
   color: #ccc;
}

.react-tabs__tab--selected {
   background: #333;
   border-color: #aaa;
   color: #ccc;
}

select, button, input, textarea{
   background-color: #222;
   color: #ccc;
}

.checkbox-input{
   display: none;
}
.checkbox-parts{
   padding-left: 20px;
   position:relative;
   margin-right: 20px;
}
.checkbox-parts::before{
   content: "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 15px;
   height: 15px;
   border: 1px solid #999;
   border-radius: 4px;
}
.checkbox-input:checked + .checkbox-parts::after{
   content: "";
   display: block;
   position: absolute;
   top: -5px;
   left: 5px;
   width: 7px;
   height: 14px;
   transform: rotate(40deg);
   border-bottom: 3px solid #d01137;
   border-right: 3px solid #d01137;
}

.trades-filter .checkbox-input:checked + .checkbox-parts{
   color: #d01137;
}

a {
   color: #80a3e3;
}

.research-table th, .research-table td {
   border: solid 1px #000;          /* 枠線指定 */
 }
 .research-table tr:nth-child(odd) {
   background-color:  #444;    /* 背景色指定 */
 }